!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Login
    :css
      .label {text-align: right}
      .error {color: red}
  %body
    %h2 Login
    %form{:method => "post"}
      %table
        %tr
          %td.label
            Username
          %td
            %input{:name => "username", :type => "text", :value => "#{username}"}/
          %td.error
        %tr
          %td.label
            Password
          %td
            %input{:name => "password", :type => "password", :value => ""}/
          %td.error= "#{login_error}"
      %input{:type => "submit"}/
